**Q.1 What are data structures, and why are they important.**

Ans:

Data structures are ways of organizing and storing data so it can be efficiently accessed and modified.

They are essential because they enable faster data manipulation and optimize algorithms, improving the overall performance of applications

**Q.2 Explain the difference between mutable and immutable data types with examples**

Ans:

Differences Between Mutable and Immutable Data Types:

**Mutable data types:**
    
  -   can be changed after creation &
  
  -   Objects can share the same memory reference if modified
  
  -   Modifying the object changes the original object
        
    -       Example: lists and dictionaries  while


**Immutable data types:**
    
  -   Immutable data types cannot be modified

  -    A new object is created in memory when modified
       
  -   Modifying the object creates a new object
    
    -       Example: strings and tuples

**Q.3 What are the main differences between lists and tuples in Python**

Ans:

**List**:    
  -   List are Mutable : Mutable, more flexible, and slower.
  -   you can modify, add, or remove elements after the list is created
  -   Syntax:
            Lists are created using square brackets: []
  -   Lists require more memory due to their ability to change.
  -   Lists have many built-in methods for modifying the list
    -       Example:  append(), remove(), extend(), pop()


**Tuples** :
  -   Immutable, faster, and more memory efficient.
  -   Tuples are immutable
  -   once a tuple is created, you cannot modify, add, or remove elements.
  -   Syntax:
            Tuples are created using parentheses: ()
  -   Tuples are generally faster than lists for iteration and accessing element, because of their immutability.
  -   Tuples have fewer methods since they are immutable
    -       Example: count(), index()

**Q.4 Describe how dictionaries store data**

Ans:

 Dictionaries in Python store data in key-value pairs using a hash-based structure. Each key is unique and is mapped to a specific value. The dictionary uses a hash function to compute a hash value for each key, determining where the key-value pair is stored in memory. This allows for fast lookups, insertions, and deletion

**Q.5 Why might you use a set instead of a list in Python**

Ans:

Sets are useful when you need to store unique elements and perform fast membership checks. Unlike lists, sets automatically eliminate duplicates, ensuring that only one instance of each element is stored. This makes sets ideal for operations that involve finding unique items or performing mathematical set operations like union, intersection, and difference.

**Q.6 What is a string in Python, and how is it different from a list**

Ans:

 A string is an immutable sequence of characters, whereas a list is a mutable sequence of any data type.
 While both support indexing and slicing, strings cannot be changed after creation, but lists can be modified.

**Q.7 How do tuples ensure data integrity in Python**

Ans:


 Tuples ensure data integrity because they are immutable. Once a tuple is created, its elements cannot be modified, which helps preserve the data without accidental changes.

**Q.8 What is a hash table, and how does it relate to dictionaries in Python**

Ans:

 A hash table is a data structure that stores data in an array format, using a hash function to compute an index where the data is stored. In Python, dictionaries use a hash table internally to map keys to values, allowing for fast data retrieval.

**Q.9 Can lists contain different data types in Python**

Ans:

Yes, lists in Python can contain elements of different data types. For example, a list can store integers, strings, floats, or even other lists.

In [ ]:
#Example
grocery_list = ["Milk", "cherry", 1, 2.2, True, (3+5j)]

**Q.10 Explain why strings are immutable in Python**

Ans:

Strings are immutable in Python because they are designed to be memory efficient and safe from accidental changes. By making strings immutable, Python ensures that any string value cannot be altered, which avoids unexpected behavior when multiple references point to the same string object.

**11. What advantages do dictionaries offer over lists for certain tasks?**

*Answer:*

Dictionaries allow fast key-based access and better organization for large datasets compared to index-based lists.

**Q.12 Describe a scenario where using a tuple would be preferable over a list**

Ans:

Tuples are preferable when you need an immutable collection of elements, like storing coordinates (x, y) or when the data should remain constant throughout the program. Since tuples are faster and more memory-efficient than lists, they are a better choice for fixed collections.

**Q.13 How do sets handle duplicate values in Python**

Ans:

Sets automatically eliminate duplicate values. If you try to add a duplicate element, it will simply be ignored, ensuring that only unique elements are stored in a set.

In [ ]:
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

**Q.14 How does the “in” keyword work differently for lists and dictionaries**

Ans:

For lists, the in keyword checks if an element exists in the list by iterating through the list. It checks for membership one by one.
For dictionaries, the in keyword checks if a key exists in the dictionary, which is much faster due to the hash table structure.

**Q.15 Can you modify the elements of a tuple? Explain why or why not**

Ans:

No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its data cannot be changed, which ensures data integrity.

**Q.16 What is a nested dictionary, and give an example of its use case**

Ans:

A nested dictionary is a dictionary that contains other dictionaries as values. This is useful when you need to represent complex hierarchical data, like storing information about multiple employees in a company.

In [ ]:
restaurant_menu = {
    'Dish1': {'name': 'Pasta masala', 'price': 160.99},
    'Dish2': {'name': 'Chicken 65', 'price': 144.50},
    'Dish3': {'name': 'Margherita Pizza', 'price': 156.00}
}

{'Dish1': {'name': 'Pasta Carbonara', 'price': 160.99},
 'Dish2': {'name': 'Chicken Caesar Salad', 'price': 144.5},
 'Dish3': {'name': 'Margherita Pizza', 'price': 156.0}}

**Q.17 Describe the time complexity of accessing elements in a dictionary**

Ans:

 The time complexity of accessing elements in a dictionary is O(1) on average. This is because dictionaries use a hash table, which allows for fast lookups based on the key.

**Q.18 In what situations are lists preferred over dictionaries**

Ans:

Lists are preferred over dictionaries when:

  You need to maintain the order of elements.

  You need to store a sequence of elements without associating them with unique keys.

  When you don’t need fast lookups and are dealing with a small collection of data.

**Q.19 Why are dictionaries considered unordered, and how does that affect data retrieval.**

Ans:

 Dictionaries in Python are considered unordered because they do not maintain a specific sequence for their keys and values. However, this does not affect data retrieval as long as retrieval is done by key, as dictionaries provide direct access to values through hashing

**Q.20 Explain the difference between a list and a dictionary in terms of data retrieval.**

Ans:

In a list, data is retrieved by index (position in the list).

In a dictionary, data is retrieved by key (unique identifier), making
it faster for lookups as keys are hashed.

#Practical Questions

**Q.1 Write a code to create a string with your name and print it**

In [1]:
#Q1. Write a code to create a string with your name and print it.
name = "Maheshwari Shinde"
print(name)

Maheshwari Shinde

**Q.2 Write a code to find the length of the string "Hello World"**

In [4]:
#Q.2 Write a code to find the length of the string "Hello World"
string = "Hello World"
length = len(string)
print(length)

11

**Q.3 Write a code to slice the first 3 characters from the string "Python Programming"**

In [5]:
#Q.3 Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

**Q.4 Write a code to convert the string "hello" to uppercase**

In [6]:
#Q.4 Write a code to convert the string "hello" to uppercase
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

**Q.5 Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [7]:
#Q.5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

**Q.6 Write a code to create a list with numbers 1 to 5 and print it**

In [8]:
#Q.6 Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

**Q.7 Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [9]:
#Q.7 Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

**Q.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [10]:
#Q.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

**Q.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [11]:
#Q.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

**Q.10 Write a code to reverse the list [10, 20, 30, 40, 50].**

In [12]:
#Q.10 Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

**Q.11 Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [13]:
#Q.11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

**Q.12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [14]:
#Q.12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])  # Output: 'blue'

blue

**Q.13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [15]:
#Q.13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))  # Output: 5

5

**Q.14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [16]:
#Q.14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))  # Output: 1

1

**Q.15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [17]:
#Q.15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

my_tuple = ('apple', 'banana', 'cherry')
print('kiwi' in my_tuple)  # Output: False

False

**Q.16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [18]:
#Q.16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

**Q.17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [ ]:
#Q.17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)  # Output: set()

**Q.18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [19]:
#Q.18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

**Q.19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [20]:
#Q.19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

**Q.20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [21]:
#Q.20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)  # Output: {2, 3}

{2, 3}

**Q.21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [34]:
#Q.21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name": "John", "age": 30, "city": "London"}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'London'}

**Q.22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [23]:
#Q.22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

**Q.23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [32]:
#Q.23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Mahi', 'age': 30}
print(my_dict["name"])  # Output: 'Alice'

Mahi

**Q.24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [25]:
#Q.24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)  # Output: {'name': 'Bob', 'city': 'New York'}

{'name': 'Bob', 'city': 'New York'}

**Q.25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [33]:
#Q.25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)  # Output: True

True

**Q.26 Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [27]:
#Q.26 Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

**Q.27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)**

In [28]:
#Q.27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
my_list = [random.randint(1, 100) for _ in range(5)]
my_list.sort()
print(my_list)

[38, 67, 67, 81, 84]

**Q.28 Write a code to create a list with strings and print the element at the third index.**

In [29]:
#Q.28 Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date"]
print(my_list[3])  # Output: 'date'

date

**Q.29 Write a code to combine two dictionaries into one and print the result.**

In [30]:
#Q.29 Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**Q.30 Write a code to convert a list of strings into a set**

In [31]:
#Q.30 Write a code to convert a list of strings into a set
my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)  # Output: {'banana', 'cherry', 'apple'}

{'apple', 'cherry', 'banana'}